body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #666666;
    font-family: "Jua", sans-serif;
    background-image: url(../static/images/background.png);

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dadada;
    background-repeat: no-repeat;
}

#mainImage {
    max-width: 300px;
    min-width: 25%;
    height: auto; 
}

code {
    font-size: 1.2rem;
    text-align: left;
    background-color: #0000000f;
    border-radius: 5px;
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#logoText {
    font-weight: 600;
}

#clearProposition {
    background-color:  #c58c42;
    width: 100px;
}

#buttonPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px 20px 10px;
}

.content {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
}

.thContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.thButtonsContainer {
    display: flex;
    flex-direction: column;
}

#errorParagraph {
    color: #ff0000;
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}

.textInput {
    margin: 10px;
    height: 1.25em;
    text-align: left;
    border-color: #4275c5;
    background-color: #e2e7f0;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 5px;
}

.selectInput {
    margin: 10px;
    height: 2em;
    padding: 5px;
    border-color: #4275c5;
    background-color: #e2e7f0;
    font-size: 1.1rem;
    border-radius: 5px;
}

#mainContent {
    font-size: 1.5rem;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    width: 55%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    padding-right: 100px;
    padding-bottom: 100px;
}

#viewContent {
    width: 100%;
    font-size: 1.25rem;
}

#writeContent {
    width: 50%;
    margin: auto;
    font-size: 1.25rem;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4275c5;
}

#viewButton {
    background-color:  #42c572;
    margin-right: 10px;
}

#welcomeButton {
    background-color:  #c58c42;
    margin-right: 10px;
}

#writeButton {
    margin-right: 10px;
}

p {
    margin: 0;
}

table, th, td {
    border:1px solid black;
}

table {
    width: 100%;
    padding: 10px;
}

.mainButton {
  background-color: #4275c5;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.smallFilterButton {
    background-color: #728eb9;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border-style: none;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 3px 0px;
}

.mainButton:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.mainButton:hover:after {
  opacity: .5;
}

.mainButton:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.mainButton:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .mainButton {
    padding: 14px 22px;
    width: 176px;
  }
}